.btn-form button {
  width: 134px;
  height: 48px;
  border: none;
  margin-top: 42px;
}
.btn-filled {
  border-radius: 10px;
  color: #fff;
  font-family: var(--main--fontfamily--heading);
}
.light-theme .btn-filled {
  background: var(--main--color--pink--1);
}
.dark-theme .btn-filled {
  background: #b8c9f4;
}
.light-theme .btn-filled:hover {
  background: var(--main--color--pink--2);
  color: var(--main--color--pink--1);
}
.dark-theme .btn-filled:hover {
  background: #d7e5ff;
  color: #b8c9f4;
}
