.header {
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  padding-bottom: 30px;
  width: 100%;
  max-height: 150px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.light-theme.header {
  background: linear-gradient(180deg, #fdedf5 0.11%, #fff 77.73%);
}
.dark-theme.header {
  background: linear-gradient(180deg, #f3f3ff 0.11%, #fff 77.73%);
}

.header::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  /* filter: blur(30px); */
  background: linear-gradient(to bottom, #fff, transparent);
}

button.btn-newpost {
  border: none;
  width: 148px;
  height: 48px;
  border-radius: 10px;
  background: #fff;
  color: #cfcfcf;
  text-align: center;
  font-family: Grandstander;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: box-shadow 0.3s ease;
}
.light-theme button.btn-newpost {
  box-shadow: 0px 4px 4px 0px #fdbfda;
}
.dark-theme button.btn-newpost {
  box-shadow: 0px 4px 4px 0px #b8c9f4;
}
.light-theme button.btn-newpost:hover {
  background-color: #f7f7f7;
  color: #797171;
}
.post_image .custom-upload {
  height: 100%;
}
.newPost-btn {
  margin: 10px 0;
  width: 155px;
  height: 76px;
  border-radius: 20px;
  background: #fef9fc;
  display: flex;
  align-items: center;
}
.newPost-btn button {
  margin: 10px 0;
  width: 155px;
  height: 76px;
  background: #fef9fc;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: #797171;
  text-align: center;
  font-family: Margarine;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.newPost-btn button:hover {
  color: #dbdaec;
}
/* src/SearchBar.css */
.search-bar-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 51px;
  margin: auto;
}

input.form-control.search-bar {
  padding-left: 50px;
  border-radius: 10px;
  color: #797171;
  font-family: var(--main-fontfamily--text);
  height: 50px;
  transition: background-color 0.3s ease, border 0.3s ease;
}
.light-theme input.form-control.search-bar {
  border: 1px solid #f4b2c2;
  background-color: #fce4ec;
}
.dark-theme input.form-control.search-bar {
  border: 1px solid #b8c9f4;
  background-color: #f3f3ff;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: color 0.3s ease;
}
.light-theme .search-icon {
  color: #d47a94;
}
.dark-theme .search-icon {
  color: #b8c9f4;
}
.search-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.light-theme ul.search-results li,
.dark-theme ul.search-results li {
  list-style: none;
  background: transparent;
  border-radius: 10px;
}
ul.search-results li a {
  color: #797171;
}
ul.search-results li:hover {
  background: #fef9fc;
}

.light-theme ul.search-results li a:hover {
  color: #d47a94;
}
.dark-theme ul.search-results li a:hover {
  color: #b8c9f4;
}
.icon-message i {
  transition: color 0.3s ease;
}

.light-theme .icon-message i,
.light-theme .icon-notifications i {
  color: #fdbfda;
}
.dark-theme .icon-message i,
.dark-theme .icon-notifications i {
  color: #b8c9f4;
}
